{% extends 'base.html.twig' %}

{% block title %}Gestion des rôles{% endblock %}

{% block body %}
<h5><b>Liste des rôles</b></h5>

{% for role in lesRoles %}
	{% if role.libelle is not null %}
		<ul>
			<li><a href="{{ path('editRole', { 'id': role.id}) }}">{{role.libelle}}</a></li>
		</ul>
	{% else %}
		<ul>
			<li>Pas de rôle</li>
		</ul>
    {% endif %}			
{% endfor %}

<h5><b>Créer un rôle</b></h5>

	<button class="btn btn-white-red return-button" type="button">
		<a href="{{ path('newRole') }}">Créer un rôle</a>
	</button>
	
	<br><br>
	<a href="{{ path('app_accueil') }}">Retour</a>		

{% endblock %}